extends ../layout

block content
  h1= title
  p
    a.button(href="/books/new") Create New Book
  
  include ../books/search
    
  table
    thead
      tr
        th Title
        th Author
        th Genre
        th Year
    tbody#books-table-body
      if books.length
        each book in books
          tr
            td
              a(href="/books/" + book.id)= book.title
            td= book.author
            td= book.genre
            td= book.year
      else
        tr
          td(colspan="4") No books found.
  // Pagination
  if pagination.totalPages > 1
    span.page-info Page #{pagination.currentPage} of #{pagination.totalPages}
    .pagination
      a.button(class=pagination.currentPage === 1 ? 'disabled' : '' href=pagination.currentPage === 1 ? '#' : `/books?page=${pagination.previousPage}${search ? `&search=${search}` : ''}`) Prev
      a.button(class=pagination.currentPage === pagination.totalPages ? 'disabled' : '' href=pagination.currentPage === pagination.totalPages ? '#' : `/books?page=${pagination.nextPage}${search ? `&search=${search}` : ''}`) Next
  
  // Search Script stored here
  include ../scripts/script
